main {
    padding: 20px;
    display: flex;
    gap: 15px;
}

p {
    margin: 0;

}

.card-body {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-body img {
    width: 100px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#productos-carrito{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.products-container{
    flex-grow: 1;

}

.cart-summary{
    width: 500px;
    color: #25B8D9;
    font-family: 'Comfortaa', sans-serif;
}

#total-cart{
    color: darkblue;

}

