@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {

}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 3);
    background-color: #24b4b4;
    gap: 15px;
    padding: 10px
}


header .user-menu {
    text-align: right;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;

}

header .user-menu a {
    text-decoration: none;
    color: black;
}

nav {


    background-color: whitesmoke;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    width: 100%;

}

nav a {


    text-decoration: none;
    display: block;
    padding: 5px;
    color: -webkit-link;
}

nav a:hover {

    border-bottom: 2px solid #24b4b4;
    transition: .5s all ease;
}


main {
    height: auto;


}

.carousel-item {
    position: relative;

}



.carousel-item div p {
    position: absolute; /*lo ubica sobre la imagen(relativa) */
    color: white;
    font-size: 35px;
    font-family: 'Comfortaa', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para mayor contraste */
    max-width: fit-content;
    background-color: #ffffff99;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 65%;
    display: flex;
    width: 100%;


}

.mision-text{
    top: 10%;

}


.product-grid {
    flex: 1;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

main h1 {
    margin-top: 30px;
    color: #25B8D9;
    font-family: 'Comfortaa', sans-serif;

}

main h3 {
    margin-top: 30px;
    color: #25B8D9;
    font-family: 'Comfortaa', sans-serif;

}

main p {
    margin-top: 20px;
    color: #1a1d20;
    font-family: 'Comfortaa', sans-serif;
}

.price-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.price-content span:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.price-content span:nth-child(2) {
    text-decoration: line-through;
    color: #0a58ca;
}


.contact-wrapper {
    display: flex;
    gap: 15px;

}

.contact-wrapper form {
    width: 400px;
    padding: 20px;

}

.contact-wrapper iframe {
    flex: 1;
}

#whatsapp-button {
    font-size: 20px;
    background-color: #24b4b4;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #24b4b4;


}

footer {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea */
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #ecedee;
    font-family: 'Comfortaa', sans-serif;

}

footer div {
    text-align: center;
    flex: 1 1 200px; /* Ancho mínimo y adaptable */
    margin: 10px; /* Espaciado entre los divs */

}

footer div strong {
    margin-bottom: 20px;
    display: block;

}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 20px; /* Añade un espacio superior */
    text-align: center;
    background-color: #24b4b4;
    flex: 0 0 100%; /* Ocupa toda la fila */
    color: white;
    font-family: 'Comfortaa', sans-serif;

}

.offcanvas-body a {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    color: #24b4b4;
    font-size: 18px;

}

.offcanvas-body a:hover {
    color: #1a1d20;
    border-radius: 5px;
    transition: 3s ease all;

}

#transaction-list-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

#transaction-list-info li b {
    text-transform: uppercase;
}

#icono-transaccion {
    margin: 20px 0;
}